
 #logo{
        }

body{
   background-color:white;
 
}

 #total-orders{
   background-color: #4cb4c7;
 }

 #orders-delivered{
    background-color: #4cb4c7;
}

 #orders-peding{
    background-color: #4cb4c7;
 }

            



